{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }} | Details
{% endblock %}

{% block body %}

    <section>
        <article>
            <h3>{{ wish.title }}</h3>
            <h5>Par {{ wish.author }}</h5>
            <p>{{ wish.description }}</p>
            <p>Créé le {{ wish.dateCreated | date('d/m/Y à H:i')}}</p>
        </article>
    </section>
{% endblock %}

